@import "tailwindcss";

@theme {
    --color-primary: #95d3da;
    --color-primary-light: #dee8ea;
    --color-secondary: #202125;
    --color-secondary-light: #2b2c30;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
